# Merge and melt

The merge command from pandas allow us to easily merge datasets.

In [ ]:
folder='/content/drive/MyDrive/temp/day3_day4/'
import pandas as pd
accounts = pd.read_csv(folder+'accounts.csv')
orders = pd.read_csv(folder+'orders.csv')
print(accounts, '\n\n', orders)

   account_id  income
0           3  108939
1           2   12747
2           8   87709
3           6   91796

    id  customerId
0   1           3
1   2           1

In [ ]:
# 'inner' merge is like the intersection of the two tables
# (i.e. rows with common value on the variable in left_on and right_on)

accounts.merge(orders, how='inner', left_on='account_id', right_on = 'customerId')

   account_id  income  id  customerId
0           3  108939   1           3

In [ ]:
# 'outer' merge is like the union of the two tables. The variables given in left_on
# and right_on are treated as the same variable for matching rows.

accounts.merge(orders, how='outer', left_on='account_id', right_on = 'customerId')

   account_id    income   id  customerId
0         3.0  108939.0  1.0         3.0
1         2.0   12747.0  NaN         NaN
2         8.0   87709.0  NaN         NaN
3         6.0   91796.0  NaN         NaN
4         NaN       NaN  2.0         1.0

In [ ]:
# 'left' merge will only keep rows in the left dataframe. The result contains columns from both dataframes.
# If a row in the right dataframe matches with a row in the left dataframe, the values of the right dataframe
# are collected.

accounts.merge(orders, how='left', left_on='account_id', right_on = 'customerId')

   account_id  income   id  customerId
0           3  108939  1.0         3.0
1           2   12747  NaN         NaN
2           8   87709  NaN         NaN
3           6   91796  NaN         NaN

In [ ]:
# 'right' merge will only keep rows in the right dataframe. The result contains columns from both dataframes.
# If a row in the left dataframe matches with a row in the right dataframe, the values of the left dataframe
# are collected.

accounts.merge(orders, how='right', left_on='account_id', right_on = 'customerId')

   account_id    income  id  customerId
0         3.0  108939.0   1           3
1         NaN       NaN   2           1

# Melt

Sometimes we have data recorded in wide format such as in longitudinal data. Most of the models need to work with data in long format. The melt command can
 convert data from wide format to long format.

In [ ]:
# Converting data from wide format to long format can be done with .melt.
# The id_vars specifies which variables will serve as id. Those in value_vars will be collected together.

A = pd.DataFrame({'c1':[1, 2, 3], 'day1':['good', 'better', 'best'], 'day2':['better', 'good', 'good'] })
print('A \n', A, '\n')

long = A.melt(id_vars =['c1'], value_vars = ['day1', 'day2'])
print('long format \n', long)

A
    c1    day1    day2
0   1    good  better
1   2  better    good
2   3    best    good

long format
    c1 variable   value
0   1     day1    good
1   2     day1  better
2   3     day1    best
3   1     day2  better
4   2     day2    good
5   3     day2    good

In [ ]:
# change the name for the value and variable
long = A.melt(id_vars =['c1'], value_vars = ['day1', 'day2'], var_name = 'Date', value_name = 'Rating')
print('long format \n', long)

long format
    c1  Date  Rating
0   1  day1    good
1   2  day1  better
2   3  day1    best
3   1  day2  better
4   2  day2    good
5   3  day2    good

Practice questions:

(1). Collect the result in both files and merge them together: power_main0_seed_i0.157894736842105_j1.csv and power_main0_seed_i0_j1.csv.
Sort the resulting data based on the values of trt_eff. Note: You can use .sort_values(  ) to sort data frame. For example, to sort the DataFrame df by the 'Price' and 'Quantity' columns
df.sort_values(by=['Price', 'Quantity']).

(2).
For the power_matrix_poisson_with_seed.csv data. All but the last column are power of a test. Convert it to long format. Name the collected power value as Power and name the column with all C values as scale_parameter.