In [1]:
import pandas as pd

In [104]:
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    # groupby the managerId column and count the number of employees for each manager
    counts = employee.groupby("managerId")["id"].count()
    
    # filter the counts dataframe to only include managers with 5 or more employees
    filtered_managers = counts[counts >= 5].index
    manager_names = employee.where(employee["id"].isin(filtered_managers))["name"]
    return pd.DataFrame(manager_names[manager_names.notna()], columns=["name"])

In [105]:
employee = pd.read_csv("/Users/prokope/KState/Statistics/STAT 766/Assignments/homework1/employee.csv")
find_managers(employee)

     name
2  Xqohza
3    Gvfd
4  Imgoqu